youtube-shorts-automation/workflow.json
{
  "name": "YouTube Shorts Automation Service",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 10 * * *"
            }
          ]
        }
      },
      "id": "1",
      "name": "Daily Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            { "name": "niche", "value": "history" },
            { "name": "language", "value": "tr" },
            { "name": "format", "value": "youtube_shorts" },
            { "name": "style", "value": "stock_plus_text" },
            { "name": "cta", "value": "Daha fazlası için takip et" }
          ]
        }
      },
      "id": "2",
      "name": "Load Client Brief",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [500, 300]
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "create",
        "model": "gpt-4o-mini",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are a YouTube Shorts strategist. Return structured output with fields: topic, hook, script, title, description, hashtags, thumbnail_text, shot_list."
            },
            {
              "role": "user",
              "content": "Create one premium {{$json.language}} {{$json.niche}} YouTube Shorts concept in stock+text format. Include a 60-second script, title, description, hashtags, thumbnail text, and 6 stock-video shot suggestions. CTA: {{$json.cta}}"
            }
          ]
        },
        "simplify": true
      },
      "id": "3",
      "name": "Generate Shorts Package",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.8,
      "position": [800, 300],
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $input.item.json;\nconst text = data.message || data.text || JSON.stringify(data);\nreturn [{ json: { contentPackage: text } }];"
      },
      "id": "4",
      "name": "Normalize AI Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1040, 300]
    },
    {
      "parameters": {
        "command": "python3 /opt/shorts/render_short.py",
        "input": "={{$json.contentPackage}}"
      },
      "id": "5",
      "name": "Render Short Video",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1280, 300]
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{$json.title || 'Daily Shorts Video'}}",
        "description": "={{$json.description || 'Generated by automation'}}",
        "additionalFields": {
          "privacyStatus": "public"
        }
      },
      "id": "6",
      "name": "Upload to YouTube",
      "type": "n8n-nodes-base.youtube",
      "typeVersion": 1,
      "position": [1520, 300],
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "YOUR_YOUTUBE_CREDENTIAL_ID",
          "name": "YouTube account"
        }
      }
    }
  ],
  "connections": {
    "Daily Trigger": { "main": [[{ "node": "Load Client Brief", "type": "main", "index": 0 }]] },
    "Load Client Brief": { "main": [[{ "node": "Generate Shorts Package", "type": "main", "index": 0 }]] },
    "Generate Shorts Package": { "main": [[{ "node": "Normalize AI Output", "type": "main", "index": 0 }]] },
    "Normalize AI Output": { "main": [[{ "node": "Render Short Video", "type": "main", "index": 0 }]] },
    "Render Short Video": { "main": [[{ "node": "Upload to YouTube", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": {},
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
