youtube-gmail-working/workflow.json
{
  "name": "Working YouTube Idea To Gmail",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 10 * * *"
            }
          ]
        }
      },
      "id": "1",
      "name": "Daily Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [260, 300]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            { "name": "topic", "value": "history" },
            { "name": "language", "value": "Turkish" },
            { "name": "recipient", "value": "zohrabkhidirov5@gmail.com" },
            { "name": "prompt", "value": "Create 1 premium YouTube Shorts idea about history in Turkish. Return exactly these sections: Title, Hook, Script, Description, Hashtags, Thumbnail Text." }
          ]
        }
      },
      "id": "2",
      "name": "Set Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [520, 300]
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "create",
        "model": "gpt-4o-mini",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You write concise, high-quality YouTube Shorts content packages. Keep output clean and directly usable."
            },
            {
              "role": "user",
              "content": "={{$json.prompt}}"
            }
          ]
        },
        "simplify": true
      },
      "id": "3",
      "name": "Generate Content",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.8,
      "position": [800, 300],
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const src = $input.item.json;\nconst content = src.message || src.text || JSON.stringify(src, null, 2);\nreturn [{ json: { recipient: 'zohrabkhidirov5@gmail.com', subject: 'Gunluk YouTube Shorts Fikri', body: content } }];"
      },
      "id": "4",
      "name": "Build Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1060, 300]
    },
    {
      "parameters": {
        "sendTo": "={{$json.recipient}}",
        "subject": "={{$json.subject}}",
        "message": "={{$json.body}}",
        "options": {}
      },
      "id": "5",
      "name": "Send Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1320, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    }
  ],
  "connections": {
    "Daily Trigger": { "main": [[{ "node": "Set Input", "type": "main", "index": 0 }]] },
    "Set Input": { "main": [[{ "node": "Generate Content", "type": "main", "index": 0 }]] },
    "Generate Content": { "main": [[{ "node": "Build Email", "type": "main", "index": 0 }]] },
    "Build Email": { "main": [[{ "node": "Send Gmail", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": {},
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
